*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

a { color: inherit; } 
A:link {text-decoration: none }
A:visited {text-decoration: none }
A:active {text-decoration: none }
A:hover {text-decoration: none }

/*------------------------------nav bar ----------------------------------*/

nav{ /*traspaente*/
    background-color: rgba(255, 255, 255, 0);
    position: static;
}

.enlace {
    position: absolute;
    padding: 15px 100px;
    padding-top: 10px;
}

.logo{    
    float: left;
    margin-left: 132%;
    margin-top: -2px;
}

nav ul{
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(142, 142, 142);
    font-size: 15px;
    padding-right: 20px;
    margin-left: 9px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 5px;
}



/*-------------opciones navbar---------*/
nav ul ul{
    position: absolute;
    display: none;
}

nav ul li:hover > ul{
    display: block;
    padding: 10px;
    margin-left: -25px;
    background-color: rgb(42, 42, 42);
    margin-top: -25px;
}

nav ul ul li{
    float: none;
    display: block;
}

nav ul ul li a{
    color: rgb(142, 142, 142);
    line-height: normal;
    margin-left: 0px;
    padding: 0px;
    margin-left: 15px;
    text-decoration: none;
}

nav ul ul li a:hover{
    color: rgb(255, 255, 255);
}

.boton-nav{
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

/*-------------responsive navbar-------*/

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media screen and (max-width: 1345px) {
    .logo{
    
        margin-left: 50%;
        margin-top: -2px;
        margin-left: -50px;   
    }

}

@media screen and (max-width: 1212px) {
    

    nav {
        position: static;

        background-image: url(../assets/background.webp);
        height: 100px;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
    }
    
    .checkbtn{
        display: block;
    }
    
    ul{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 350px;
        background-size: auto;
        background-image: url(../assets/background.webp);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        overflow-y: scroll;
    }

    nav ul li{  
        display: block;
        margin: 20px 0px;
        line-height: 20px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left:  0;
        overflow-y: scroll;
    }


    body {
        overflow-x: hidden;
        margin-top: 100px;
    }

    /*desplegar opciones*/
    nav ul ul{
        position: static;
        display: none;
        width: 102%;
        height: 100%;
        background-image: url(../assets/background.webp);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /*desplegar opciones*/
    nav ul ul li{
        float: none;
        display: block;
        margin-left: 0px;
        width: 40vm;
        height: -100px;
        background: no-repeat;
    }

    nav ul ul li a {
        color: rgb(87, 87, 87);

    }



        
        
    
    

    











    




    
    


    
    
}


/*------------------------------nav bar ----------------------------------*/

















/*------------------------------cuerpo----------------------------------*/

body{
    background-image: url(../assets/background.webp);
    background-size: 100% 100vh;
    background-repeat: repeat;

    
}

.contenido{

    
    background-color: rgba(61, 61, 61, 0.502);
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 70%;
    height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    
}
/*------------------------------cuerpo----------------------------------*/





/*------------------------------parrafo----------------------------------*/

p {
    color: rgb(195, 195, 195);
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 0 1%;
}




/*------------------------------parrafo----------------------------------*/




/*------------------------------Headers----------------------------------*/
h1 {
    color: rgb(195, 195, 195);
    line-height: normal;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
    

}
/*------------------------------Headers----------------------------------*/





/*------------------------------footer----------------------------------*/
footer {
    /* footer general*/
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-height: 70px;
    width: 100%;
    position: relative;
    bottom: 0;  

}

.grupo-footer {
    display: flex;
    width: 70%;
    
}

.grupo-footer-1 {
    width: 28;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 30%;
    padding-right: 2%;
    font-size: 0.8em;
}

.grupo-footer-2 {
    width: 50%;
    padding-left: 8%;
    padding-top: 6%;
    margin: 0 auto;
    display: flex;
}

/*------------------------------footer----------------------------------*/









/*----------------------------responsive--------------------------------*/
@media screen and (max-width: 800px) {
    .grupo-footer {
        width: 70%;
        flex-direction: column;
    }
    .grupo-footer-1 {
        width: 28;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .grupo-footer-2 {
    
        width: 50%;
        padding-left: 8%;
        padding-top: 6%;
        margin: 0 auto;
        display: flex;
    }
}
@media screen and (max-width: 560px){
    .grupo-footer-2 {
        width: 100%;
        padding-left: 8%;
        padding-top: 6%;
        margin: 0 auto;
        display: flex;
    }   
}

/*----------------------------responsive--------------------------------*/
